<html ng-app="app">
  <head>
    <title>My Angular app</title>
    <script src="js/angular.js"></script>
    <style>
      .old {background: red;}
      .modern {background: blue;}
      .new {background: green;}
    </style>
  </head>
  <body>
    <div ng-controller="MoviesController as movies">
      <ul>
        <li
          ng-class="{
            old: movie.year < 1995,
            modern: movie.year > 1995 && movie.year < 2000,
            new: movie.year > 2000
          }"
          ng-repeat="movie in movies.favorites">
          <p>{{ movie.title }}</p>
          <p>Released in: {{ movie.year }}</p>
          <input type="text" ng-model="movie.year">
        </li>
      </ul>
    </div>

    <script src="js/app.js"></script>
    <script src="js/MoviesController.js"></script>
  </body>
</html>
